/* div{
    min-width: 100px;
    min-height: 100px;
    padding: 30px;
    border: 1px solid black;
} 

 .flexContainer{
    display: flex;
    border: 2px solid gray;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse; 
}

.flexItem{
    background-color: red;
    border: 2px solid black;
    margin: 12px;
    width: 120px;
    height: 120px;

} */

.container{

    background-color: black;
    height: 600px;
    width: 100%;
    display: grid;
    /* grid-template-rows: 133px 133px 133px;
    grid-template-columns: 133px 133px 133px; */
    grid-template-rows: 80px repeat(2,1fr) 80px;
    grid-template-columns: repeat(3,1fr);
    column-gap: 10px;
    row-gap: 10px;

}

.item{

    background-color: aqua;
    /* height: 120px;
    width:120px; */
    

}

.header{
    grid-column-start: 1;
    grid-column-end: 4;
}

.footer{
    grid-column-start: 1;
    grid-column-end: 4;
}