#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.navigationFooter {
  margin-top: 24px;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.card-container {
  perspective: 1000px;
  width: 300px;
  height: 300px;
  border: 1px solid black;
  cursor: pointer;
}

.card-inner {
  width: 100%;
  height: 100%;
  transition: 0.6s;
  transform-style: preserve-3d;
}

.card-inner.flipped {
  transform: rotateX(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  backface-visibility: hidden;
}
.card-front {
  background-color: black;
  color: white;
}

.card-back {
  background-color: white;
  color: black;

  transform: rotateX(180deg);
}
